<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
    package="com.madmobiledevs.ecommerce">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name   ="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".supportActivity" />
        <activity android:name=".Profile_Activity"/>
        <activity android:name=".PrintOrderBillActivity"/>
        <activity android:name=".PaymentAndOrderPlaceActivity" />
        <activity android:name=".OrdersActivity" />
        <activity android:name=".CodeVerificationActivity" />
        <activity android:name=".AddressActivity" />
        <activity android:name=".AddNewAddressActivity" />
        <activity android:name=".Order_ProductsActivity" />
        <activity android:name=".CartActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />

       <activity android:name=".MainActivity"/>

        <activity
            android:name=".NWLaunchActivity"
            tools:node="merge"
            android:exported="true">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_X80qaMCxt4bxlU" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBYLZtx0aaE9sG76PB0HHFrSlUbm075zTA" />
    </application>

</manifest>